#container > #content > #img_main {
    position: relative;
    overflow: hidden;
    height: 60vh;
}

#container > #content > #img_main > img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: rgb(100, 100, 100);
    opacity: 0.8;
}

.img_text {
    position: absolute;
    color: white;
    /*font-size: clamp(16px, 2vw, 40px);*/
    line-height: 1.5;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    white-space: nowrap;
translate(50 px, 0);
}

.down_img {
    position: absolute;
    top: 53vh;
    bottom: 5%;
    left: 50%;
    width: 30px;
    animation: motion 0.75s linear 0s infinite alternate;
}

#container > #sub_content {
    position: relative;
    height: 300px;
}

#container > #img_slider{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.sub_review{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    animation: bannermove 0.75s linear;
}

.sub_review > div {
    width: 100%;
    height: 100%;
}

@keyframes motion {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 12px;
    }
}

@keyframes bannermove {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-50%, 0);
    }
}

@media screen and (max-width: 750px) {
    .img_text {
        position: absolute;
        transform: translateX(28%);
        top: 30%;
        line-height: 1.5;
        font-size: clamp(21px, 2.5vw, 40px);
        background: rgba(0, 0, 0, 0.1);
        white-space: nowrap;
        color: white;
    }

    .clean_btn {
        position: absolute;
        background-color: #1481e0;
        color: white;
        font-family: '런드리고딕B';
        font-size: 1.2rem;
        border: 2px solid #1481e0;
        border-radius: 5px;
        transform: translateX(20%);
        top: 70%;
        width: 70%;
        height: 50px;
    }

    .clean_btn:hover {
        background-color: #85c6ff;
        cursor: pointer;
    }

    .sub_choice {
        position: absolute;
        left: 80px;
        padding-top: 50px;
        font-size: clamp(21px, 2.5vw, 40px);
    }

    .sub_order {
        position: absolute;
        left: 80px;
        padding-top: 180px;
        font-size: clamp(21px, 2.5vw, 40px);
    }

    .sub_customer {
        position: absolute;
        display: inline-block;
        left: 250px;
        padding-top: 180px;
        font-size: clamp(21px, 2.5vw, 40px);
    }
}

@media screen and (min-width: 751px) {
    .img_text {
        position: absolute;
        transform: translateX(20%);
        top: 20%;
        font-size: clamp(18px, 2.5vw, 36px);
        white-space: nowrap;
    }

    .clean_btn {
        position: absolute;
        background-color: #1481e0;
        color: white;
        font-family: '런드리고딕B';
        font-size: 1.2rem;
        border: 2px solid #1481e0;
        border-radius: 5px;
        width: 300px;
        height: 50px;
        transform: translateX(40%);
        top: 75%;
    }

    .clean_btn:hover {
        background-color: #85c6ff;
        cursor: pointer;
    }

    .sub_choice {
        position: absolute;
        left: 80px;
        padding-top: 50px;
        font-size: clamp(21px, 2.5vw, 25px);
    }

    .sub_order {
        position: absolute;
        left: 80px;
        padding-top: 180px;
        font-size: clamp(21px, 2.5vw, 25px);
    }

    .sub_customer {
        position: absolute;
        display: inline-block;
        left: 300px;
        padding-top: 180px;
        font-size: clamp(21px, 2.5vw, 25px);
    }
}